*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    margin: 47px 0px 0px 42px;
}

.link-header{
    margin-right: 35px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
}

.link-header:hover{
    opacity: 0.7;
}

.link-header:active{
    opacity: 0.4;
}

.button-sign-up{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.button-sign-up:hover{
    opacity: 0.8;
}

.button-sign-up:active{
    opacity: 0.6;
}

img{
    margin: 50px 0px 0px 61px;
    display: inline-block;
    width: 40%;
}

.section-right{
    display: inline-block;
    margin-left: 84px;
}

h1{
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
    }


p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-learn-more{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;
    }

.button-learn-more:hover{
    color: #008000;
}

.button-learn-more:active{
    opacity: 0.6;
}

@media screen and (max-width:500px){
    
    header{
        margin: 12px 0px 0px 60px;
    }

    .link-header{
        display: none;
    }    

    .button-sign-up{
        margin: 0px 0px 0px 180px;
    }

    img{
        display: block;
        position: relative;
        width: 312px;
        height: 288px;
        bottom: 33px;
    }

    .section-right{
        padding: 12%;
        margin: 0;
        display: block;
        position: relative;
        bottom: 50px;
    }

    
    h1{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.596154px;
        color: #161A49;
        width: 278px;
    }

    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #4B505A;
        width: 304px;
        margin-top: 4%;
    }

    .button-learn-more{
        margin: 0px auto;
        display: block;
        bottom: 45px;
        position: relative;
    }
    }

    
